# venv
/venv

# vscode
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json

# Python cache files
__pycache__/
flask_session/
*.py[cod]
*.pyo

# SAM2 models           -> vit-b pesa 370mb
*/models